<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Pesquisa</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="searchForm" (ngSubmit)="onSearch()" >
            <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 mb-2">
              <input type="text" class="form-control" placeholder="Quadra" formControlName="quadra">
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 mb-2">
              <input type="text" class="form-control" placeholder="Lote" formControlName="lote">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 mb-2">
              <button type="submit" class="btn btn-default btn-block" [disabled]="searchForm.invalid">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
      <!-- /.card-body -->
    </div>
  </div>

  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Tabela com todos as casas</h3>
        <div class="card-tools">
          <ul class="nav nav-pills ml-auto">
            <li class="nav-item">
              <a class="nav-link active" [routerLink]="['detalhes']" routerLinkActive="router-link-active" > <i class="fas fa-plus"></i> Cadastrar</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
              <th>Proprietario</th>
              <th>Quadra</th>
              <th>Lote</th>
              <th>Status</th>
              <th>Detalhes</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of casas; let i = index">
              <td>{{item?.proprietario?.nome}}</td>
              <td>{{item?.propriedade?.quadra}}</td>
              <td>{{item?.propriedade?.lote}}</td>
              <td><span class="badge bg-warning">{{item?.propriedade?.status}}</span></td>
              <td>
                <a
                  [routerLink]="'detalhes'"
                  [queryParams]="{'id': item.id}"
                  class="btn btn-outline-info"
                >
                  <i class="fas fa-eye"></i> Detalhes
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>
