<div class="card">
  <div class="card-header p-2">
    <h3 class="card-title"></h3>
    <div class="card-tools">
      <ul class="nav nav-pills ml-2">
        <li class="nav-item"><a class="nav-link active" href="#proprietario" data-toggle="tab">Proprietario </a></li>
        <li class="nav-item"><a class="nav-link" href="#imovel" data-toggle="tab">Imovel</a></li>
        <li class="nav-item"><a class="nav-link" href="#notificacoes" data-toggle="tab">Notificações</a></li>
        <li class="nav-item">
          <a class="nav-link" (click)="onRemove()" > <i class="fas fa-eraser"></i> Excluir</a>
        </li>
      </ul>
    </div>
  </div><!-- /.card-header -->

  <div class="card-body">
    <div class="tab-content">

      <div class="tab-pane active" id="proprietario">
        <form [formGroup]="proprietarioForm" (ngSubmit)="onPreSubmit()" class="form-horizontal">
          <div class="form-group row">
            <label for="inputName" class="col-sm-2 col-form-label">Nome</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputName" placeholder="Nome" formControlName="nome">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail" placeholder="Email" formControlName="email">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputCellphone" class="col-sm-2 col-form-label">Celular</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputCellphone" placeholder="Celular" formControlName="celular" mask="(00)00000-0000">
            </div>

          </div>
          <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" [checked]="proprietarioForm.value.whatsapp" formControlName="whatsapp">
                <label class="form-check-label">Whatsapp</label>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputTelphone" class="col-sm-2 col-form-label">Telefone</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputTelphone" placeholder="Telefone" formControlName="telefone" mask="(00)0000-0000">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputComments" class="col-sm-2 col-form-label">Observações</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="inputComments" rows="6" placeholder="Observações" formControlName="observacoes"></textarea>
            </div>
          </div>

          <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
              <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
          </div>
        </form>
      </div>
      <!-- /.tab-pane -->

      <div class="tab-pane" id="imovel">
        <form [formGroup]="propriedadeForm" (ngSubmit)="onPreSubmit()" class="form-horizontal">
          <div class="form-group row">
            <label for="inputLote" class="col-sm-2 col-form-label">Lote</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputLote" placeholder="Lote" formControlName="lote">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputQuadra" class="col-sm-2 col-form-label">Quadra</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputQuadra" placeholder="Quadra" formControlName="quadra">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputStatus" class="col-sm-2 col-form-label">Status</label>
            <div class="col-sm-10">
              <select class="form-control" formControlName="status">
                <option value="Terreno Vazio" >Terreno Vazio</option>
                <option value="Terraplanagem" >Terraplanagem</option>
                <option value="Em Obra" >Em Obra</option>
                <option value="Finalizado" >Finalizado</option>
                <option value="Morador" >Morador</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputComments" class="col-sm-2 col-form-label">Observações</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="inputComments" rows="6" placeholder="Observações" formControlName="observacoes"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
              <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
          </div>
        </form>
      </div>

      <div class="tab-pane" id="notificacoes">
        <form [formGroup]="notificacoesForm" (ngSubmit)="onPreSubmit()" class="form-horizontal">

          <div class="form-group row">
            <label for="inputPhoto" class="col-sm-2 col-form-label">Fotos</label>
            <div class="col-sm-10 custom-file">
              <input type="file" class="form-control custom-file-input" id="inputPhoto" accept="image/*" (change)="selectFile($event)" >
              <label class="custom-file-label" for="inputPhoto">Escolha o Arquivo</label>
            </div>

            <div class="col-md-2" *ngIf="casa?.tempURL"></div>
            <div class="col-md-10 col-sm-12 mt-4" *ngIf="casa?.tempURL">
              <div class="form-group row">
                <div class="col-sm-3" *ngFor="let item of casa?.tempURL" >
                  <a href="{{item}}" data-toggle="lightbox" data-title="sample 1 - white" data-gallery="gallery">
                    <img src="{{item}}" class="img-fluid mb-2" alt="white sample">
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputDate" class="col-sm-2 col-form-label">Data</label>
            <div class="col-sm-10">
              <input type="date" class="form-control" id="inputDate" placeholder="Data" formControlName="data">
            </div>
          </div>

          <div class="form-group row">
            <label for="inputComments" class="col-sm-2 col-form-label">Observações</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="inputComments" rows="6" placeholder="Observações" formControlName="observacoes"></textarea>
            </div>
          </div>

          <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
              <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
          </div>
        </form>

        <div *ngIf="casa?.notificacoes.length > 0">
          <hr>

          <div class="col-12 mb-4">
            <h3>Histórico</h3>
          </div>
          <div class="row" *ngFor="let item of casa?.notificacoes">
            <div class="col-md-10 col-sm-12">
              <div class="form-group row">
                <label for="inputComments" class="col-sm-4 col-form-label">{{item?.data | date: 'dd/MM/yyyy'}}</label>
                <div class="col-sm-8">
                  <textarea class="form-control" id="inputComments" rows="6" [value]="item?.observacoes"></textarea>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-sm-12">
              <div class="btn btn-block btn-danger"><i class="fas fa-trash"></i> Excluir</div>
              <button class="btn btn-block btn-primary" type="button" (click)="onPreSubmit()"><i class="fas fa-save"></i> Salvar</button>
            </div>
            <!-- <div class="col-md-4 col-sm-12" *ngIf="item?.fotos" ></div> -->
            <div class="col-12" *ngIf="item?.fotos" >
              <div class="row">
                <div class="col-sm-3" *ngFor="let foto of item?.fotos; last as last">
                  <a href="https://via.placeholder.com/1200/FFFFFF.png?text=1" data-toggle="lightbox" data-title="sample 1 - white" data-gallery="gallery">
                    <img src="{{foto}}" class="img-fluid mb-2" alt="white sample">
                  </a>
                  <hr class="mb-4" *ngIf="!last">
                </div>
              </div>
            </div>
        </div>
      </div>
      <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
  </div><!-- /.card-body -->
</div>
