<div class="card">
  <div class="card-header p-2">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <ul class="nav nav-pills">
          <li class="nav-item"><a class="nav-link active" href="#proprietario" data-toggle="tab">Proprietario </a></li>
          <li class="nav-item"><a class="nav-link" href="#imovel" data-toggle="tab">Imovel</a></li>
          <li class="nav-item"><a class="nav-link" href="#notificacoes" data-toggle="tab">Notificações</a></li>
        </ul>
      </div>

      <div class="col-md-4 col-sm-12">
        <div class="card-tools">
          <ul class="nav nav-pills ml-auto">
            <li class="nav-item">
              <a class="nav-link" (click)="onRemove()" > <i class="fas fa-eraser"></i> Excluir</a>
            </li>
          </ul>
      </div>
      </div>
  </div>

  </div><!-- /.card-header -->
  <div class="card-body">
    <div class="tab-content">

      <div class="tab-pane active" id="proprietario">
        <form [formGroup]="proprietarioForm" (ngSubmit)="onSubmit()" class="form-horizontal">
          <div class="form-group row">
            <label for="inputName" class="col-sm-2 col-form-label">Nome</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputName" placeholder="Nome" formControlName="nome">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail" placeholder="Email" formControlName="email">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputCellphone" class="col-sm-2 col-form-label">Celular</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="inputCellphone" placeholder="Celular" formControlName="celular" mask="(00)00000-0000">
            </div>
            <div class="col-sm-2 form-check">
              <input class="form-check-input" type="checkbox" [checked]="proprietarioForm.value.whatsapp" formControlName="whatsapp">
              <label class="form-check-label">Whatsapp</label>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputTelphone" class="col-sm-2 col-form-label">Telefone</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputTelphone" placeholder="Telefone" formControlName="telefone" mask="(00)0000-0000">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputComments" class="col-sm-2 col-form-label">Observações</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="inputComments" rows="6" placeholder="Observações" formControlName="observacoes"></textarea>
            </div>
          </div>

          <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
              <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
          </div>
        </form>
      </div>
      <!-- /.tab-pane -->

      <div class="tab-pane" id="imovel">
        <form [formGroup]="propriedadeForm" (ngSubmit)="onSubmit()" class="form-horizontal">
          <div class="form-group row">
            <label for="inputLote" class="col-sm-2 col-form-label">Lote</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputLote" placeholder="Lote" formControlName="lote">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputQuadra" class="col-sm-2 col-form-label">Quadra</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputQuadra" placeholder="Quadra" formControlName="quadra">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputStatus" class="col-sm-2 col-form-label">Status</label>
            <div class="col-sm-10">
              <select class="form-control" formControlName="status">
                <option value="Terreno Vazio" >Terreno Vazio</option>
                <option value="Terraplanagem" >Terraplanagem</option>
                <option value="Em Obra" >Em Obra</option>
                <option value="Finalizado" >Finalizado</option>
                <option value="Morador" >Morador</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputComments" class="col-sm-2 col-form-label">Observações</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="inputComments" rows="6" placeholder="Observações" formControlName="observacoes"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
              <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
          </div>
        </form>
      </div>

      <div class="tab-pane" id="notificacoes">
        <form [formGroup]="notificacoesForm" (ngSubmit)="onSubmit()" class="form-horizontal">
          <div class="form-group row">
            <label for="inputPhoto" class="col-sm-2 col-form-label">Fotos</label>
            <div class="col-sm-10 custom-file">
              <input type="file" class="custom-file-input" id="inputPhoto" accept="image/*">
              <label class="custom-file-label" for="inputPhoto">Choose file</label>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputComments" class="col-sm-2 col-form-label">Observações</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="inputComments" rows="6" placeholder="Observações"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
              <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
          </div>
        </form>

        <table class="table table-striped">
          <thead>
            <tr>
              <th style="width: 10px">Data</th>
              <th>Observação</th>
              <th>Fotos</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="vertical-align: inherit;">1/1/2022</td>
              <td style="vertical-align: inherit;">
                <textarea class="form-control" id="inputComments" rows="6" placeholder="Observações"></textarea>
              </td>
              <td style="vertical-align: inherit;">
                <div class="row">
                  <div class="col-sm-12 col-md-3" >
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxlWQlN-wHuqu__-_YZ4UWu97-MU8Z10R4_g&usqp=CAU" alt="">
                  </div>
                  <div class="col-sm-12 col-md-3" >
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxlWQlN-wHuqu__-_YZ4UWu97-MU8Z10R4_g&usqp=CAU" alt="">
                  </div>
                  <div class="col-sm-12 col-md-3" >
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxlWQlN-wHuqu__-_YZ4UWu97-MU8Z10R4_g&usqp=CAU" alt="">
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
  </div><!-- /.card-body -->
</div>
